@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* CSS Reset, usado para resetar o css padrão dos navegadores */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #e0ddd5;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


nav{
    background-color: #2E2836;
    display: flex;
    width: auto;
    height: 56px;
    justify-content: space-between;
}

.link-menu{
    margin-right: 25px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}



.link-menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 5px;
    background-color: #6A2E35;
    border-radius: 20px;
}

main{
    width: 1100px;
    height: auto;
    display: flex;
    align-items: center;  
    justify-content: center;
}

#conteudo{
    display: flex;
    align-items: center;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo img{
    margin: 70px;
}

.informacoes-texto{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.informacoes-texto h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.informacoes-botoes{
    justify-content: space-between;
}


.informacoes-botoes a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #6A2E35;
    padding: 15px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2836;
    color: #FFFFFF;
    padding: 15px;
}

#contato ul{
    margin-bottom: 15px;
    text-align: center;
}

#contato li{
    margin-bottom: 5px;
}

.link-menu a:hover{
    background-color: #e0ddd5;
    color: #2E2836;
}

.informacoes-botoes a:hover{
    background-color: #2E2836;
    color: #FFFFFF;
}